@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(45deg, #000000, #000000, #c40000, #d80000);
    /*background-repeat: inherit;*/
    background-size: 250% 250%;
    animation: gradient 10s ease-in-out infinite;
}

.movie {
    font-size: .5em;
}

h5 {
    font-weight: bold;
}

.editButton {
    cursor: pointer;
    font-size: 20px;
}

#addMovie {
    width: auto;
}

textarea {
    width: 24em;
    height: 10em;
    margin-bottom: 20px;
    border-radius: 7px;
    /*background-color:  #1B1B1B ;*/
    /*color: whitesmoke;*/
    /*border: none;*/
}

.card {
    border-radius: 10px;
    border: black;
}

.card, .director, .genre, .rating {
    background-color: #1B1B1B;
    color: whitesmoke;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.highlight {
    border: solid 2px mediumseagreen;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: white;
    font-size: 70px;
}

.movie {
    color: whitesmoke;
    font-size: 40px;
    margin-top: 1px;
}

/*.delete, .saveChange {*/
/*    height: 40px;*/
/*    width: 70px;*/
/*}*/

i {
    height: 40px !important;
    width: 70px !important;
}

button {
    border-radius: 5px;
    height: 40px;
    width: 100px;
}

.hide {
    display: none;
}

img {
    width: 290px;
    height: 430px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding: 1em;
}
/*.rating > span {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    width: 1.1em;*/
/*}*/
.rating > i:hover:before,
.rating > i:hover ~ span:before {
    content: "\2605";
    position: absolute;
}






.fas {
    display: inline;
}

.fa-star {
    cursor: pointer;
}

.yellow {
    color: yellow;
}
